/*--------------------------------
ヘッダー
---------------------------------*/
.sub-header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
	background-image: url(./img/dummy.png);
}

.logo-name {
	font-family: "Noto sans", cursive;
	/*Josefin Sans Amatic SC, */
	font-size: 32px;
	line-height: 1;
	display: block;
	margin-bottom: 5px;
	text-align: center;
	color: #9da5a0;
}

.logo {
	text-align: center;
}

.logo-title {
	font-family: "Lora", serif;
	/* CormorantGaramond, */
	font-size: 88px;
	font-weight: normal;
	line-height: 1;
	display: block;
	letter-spacing: 0.1em;
	color: #60caad;
}

.logo-text {
	font-size: 14px;
	display: block;
	margin-top: 10px;
	text-align: center;
	letter-spacing: 0.2em;
}

/*--------------------------------
 Works
---------------------------------*/
.works-list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -40px;
	overflow-x: hidden;
}

.works-item {
	flex: 0 0 32.31552%;
	margin-right: 1.52671%;
	margin-bottom: 40px;
}

.works-item:nth-of-type(3n) {
	margin-right: 0;
}

.works-body {
	text-align: center;
}

.works-title {
	font-size: 12px;
	font-weight: bold;
	margin-top: 8px;
}

.works-text {
	font-size: 10px;
}

.works-url {
	font-size: 10px;
}

/*--------------------------------
 feature
---------------------------------*/
.feature-innner {
	max-width: 1000px;
}
.feature-item {
	margin: 0 0 60px 0;
}
.features-description {
	margin: 30px auto 30px auto;
}
.features-description img {
	margin: 0 0 20px 0;
}
/*--------------------------------
 Others
---------------------------------*/
.others-section {
	background: #222;
	margin: 0 0 50px 0;
}
.others-item {
	display: flex;
}
.others-item img {
	flex: 0 0 32.31552%;
	margin-right: 1.52671%;
	margin-bottom: 40px;
}
.others-item:nth-of-type(3n) {
	margin-right: 0;
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
	/* ヘッダー */
	.sub-header {
		height: 20vh;
	}

	.logo-name {
		font-size: 16px;
	}

	.logo-title {
		font-size: 40px;
	}

	.logo-text {
		font-size: 10px;
	}

	/* Works */
	.works-body {
		text-align: left;
	}

	.works-title {
		font-size: 10px;
	}

	.works-list {
		justify-content: space-between;
	}

	.works-item {
		flex: 0 0 48%;
		margin-right: 0;
		margin-bottom: 30px;
	}
	/**/
	.others-item {
		display: block;
	}
	.others-item img {
		flex: 0 0 48%;
		margin-right: 0;
		margin-bottom: 30px;
	}
}
