/*--------------------------------
 About
---------------------------------*/
.about-section {
	background-color: #222222;
	.inner {
		max-width: 1000px;
	}
}

.about-item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.about-image-wrapper {
	flex: 0 0 25%;
	margin-right: 40px;
}

.about-body {
	flex: 1;
	p:not(:last-child) {
		margin-bottom: 20px;
	}
}

@include breakpoint(tablet) {
	/* About */
	.about-item {
		display: block;
	}

	.about-image-wrapper {
		width: 100px;
		max-width: 100%;
		margin: 0 auto 20px;
	}
}
@include breakpoint(sp) {
}
