/*--------------------------------
 Feature
---------------------------------*/
.feature-section {
	background-color: #222222;
	.inner {
		max-width: 1000px;
	}
}

.feature-item {
	display: flex;
	flex-wrap: wrap;
}

.feature-image-wrapper {
	flex: 0 0 48%;
	margin-right: 40px;
}

.feature-body {
	flex: 1;
}

.feature-body p:not(:last-child) {
	margin-bottom: 20px;
}

/*featureを2つ以上用意するver*/
.reverse-feature {
	/*content-innnerクラスとの間を50px空ける*/
	margin-top: 60px;
	/*フレックスコンテナの主軸方向が row の逆に設定*/
	flex-direction: row-reverse;
}
/*交互になる分、画像の余白設定も入れ替わる（sp版も調整必要）*/
.reverse-feature div img {
	margin-right: 0;
	margin-left: 40px;
}
/*featureを3つ以上用意するver*/
.feature-item {
	margin-top: 60px;
}
/*password機能*/
.password-btn {
	display: inline-block;
	padding: 0.4em 4em;
	text-decoration: none;
	color: #333;
	background: #fff;
	border: solid 2px #fff;
	border-radius: 30px;
	transition: 0.4s;
}
.password-btn:hover {
	color: #fff;
	background: #333;
	border: solid 2px #fff;
}
input {
	cursor: pointer;
}

@include breakpoint(tablet) {
	/* Feature */
	.feature-item {
		display: block;
	}

	.feature-image-wrapper {
		max-width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.reverse-feature div img {
		margin-right: 0;
		margin-left: 0;
	}
}
@include breakpoint(sp) {
}
