/*--------------------------------
 Skill
---------------------------------*/
.skill-section .inner {
	max-width: 1000px;
}

.skill-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: -50px;
}

.skill-item {
	display: flex;
	flex: 0 0 46%;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 50px;
}

.skill-image-wrapper {
	flex: 0 0 60px;
	margin-right: 20px;
}

.skill-body {
	flex: 1;
	p:not(:last-child) {
		margin-bottom: 20px;
	}
}

.skill-title {
	margin-bottom: 3px;
}

.rate {
	position: relative;
	font-size: 16px;
	display: inline-block;
	width: 100%;
	height: 20px;
	letter-spacing: 0.3em;
	&:before,
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		line-height: 20px;
		display: inline-block;
		height: 20px;
		content: "★★★★★";
	}
}

.l-rate:before,
.l-rate:after {
	position: absolute;
	top: 0;
	left: 0;
	line-height: 20px;
	display: inline-block;
	height: 20px;
	content: "★★★★★★★★★★";
}

.rate:before {
	color: #ddd;
}

.rate:after {
	overflow: hidden;
	white-space: nowrap;
	color: #60caad;
}

.rate1:after {
	width: 20px;
}

.rate2:after {
	width: 40px;
}

.rate3:after {
	width: 60px;
}

.rate4:after {
	width: 80px;
}

.rate5:after {
	width: 100px;
}

@include breakpoint(tablet) {
	/* Skill */
	.skill-list {
		display: block;
		margin-bottom: 0;
	}

	.skill-item {
		max-width: 100%;
		margin-bottom: 35px;
	}

	.skill-item:last-child {
		margin-bottom: 0;
	}

	.skill-image-wrapper {
		flex: 0 0 75px;
		margin-right: 15px;
	}

	.rate {
		font-size: 15px;
		height: 15px;
	}

	.rate:before,
	.rate:after {
		line-height: 15px;
		height: 15px;
	}

	.rate1:after {
		width: 15px;
	}

	.rate2:after {
		width: 35px;
	}

	.rate3:after {
		width: 55px;
	}

	.rate4:after {
		width: 75px;
	}

	.rate5:after {
		width: 95px;
	}
}
@include breakpoint(sp) {
}
