/*--------------------------------
 Works
---------------------------------*/
.works-list {
	display: flex;
	/* flex-wrap: wrap; */
	width: 100%;
	margin-bottom: 60px;
	overflow-x: scroll;
	overflow-y: hidden;
	&::-webkit-scrollbar {
		width: 10px;
	}
	&::-webkit-scrollbar-track {
		background: #fff;
		border: none;
		border-radius: 10px;
		box-shadow: inset 0 0 2px #777;
	}
	&::-webkit-scrollbar-thumb {
		background: #ccc;
		border-radius: 10px;
		box-shadow: none;
	}
}

.works-item {
	flex: 0 0 30%;
	margin-right: 2%;
	margin-bottom: 1%;
}

.works-body {
	text-align: center;
}

.works-title {
	font-size: 12px;
	font-weight: bold;
	margin-top: 8px;
}

.works-text {
	font-size: 10px;
}

.works-url {
	font-size: 10px;
}

@include breakpoint(tablet) {
	/* Works */
	.works-body {
		text-align: left;
	}

	.works-title {
		font-size: 10px;
	}

	.works-list {
		justify-content: space-between;
	}

	.works-item {
		flex: 0 0 48%;
		margin-right: 2%;
		margin-bottom: 20px;
	}
}
@include breakpoint(sp) {
}
