/* p-work
--------------------------- */
@use "./../../foundation/system" as s;

.p-work {
	&__lists {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 16px;
	}
	&__list {
		flex: 40%;
	}

	&__figure {
		position: relative;
		&:hover .p-work__figcaption {
			opacity: 1;
			padding-top: 13%;
		}
	}
	&__figcaption {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		opacity: 0;
		background-color: rgba($color: s.$c-body, $alpha: 0.7);
		transition: all 0.4s ease;
		cursor: pointer;

		font-weight: bold;
		text-align: center;
		color: s.$c-base;
	}

	&__modal {
		position: fixed;
		display: flex;
		align-items: center;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		border: none;
		opacity: 0;
		z-index: -1;
	}
	&__mask {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.7);
	}
	&__window {
		width: 80vw;
		max-width: 1000px;
		height: 80vh;
		margin: auto;
		padding: 15px;
		background: #fff;
		z-index: 1;
		overflow-y: hidden;
	}
	&__dl {
		color: s.$c-base;
		text-align: center;
		margin: 0 auto;
		width: 80%;
		height: 80%;
	}
	&__close {
		z-index: 300;
		position: absolute;
		top: 0;
		right: 10px;
		color: #808080;
		font-size: 1.5rem;
		cursor: pointer;
		&:hover {
			color: #000;
			transition: all 0.5s;
		}
	}
	html.is_open,
	body.is_open {
		overflow: hidden;
	}
	&__modal.is_open {
		animation: p-work__modal_open 0.5s ease forwards;
	}
	&__modal.is_open .p-work__window {
		animation: p-work__window_open 0.5s ease forwards;
	}
	&__modal.is_close {
		animation: p-work__modal_close 0.5s ease forwards;
	}
	&__modal.is_close .p-work__window {
		animation: p-work__window_close 0.5s ease forwards;
	}

	@keyframes p-work__modal_open {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
			z-index: 300;
		}
	}
	@keyframes p-work__window_open {
		0% {
			opacity: 0;
			transform: translateY(-30px);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
	@keyframes p-work__modal_close {
		0% {
			z-index: 300;
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
	@keyframes p-work__window_close {
		0% {
			opacity: 1;
			transform: translateY(0);
		}
		100% {
			transform: translateY(-30px);
			opacity: 0;
		}
	}

	@include s.breakpoint(tablet) {
		&__list {
			flex: 32%;
		}
	}
	@include s.breakpoint(pc) {
	}
}
