/*--------------------------------
 Footer
---------------------------------*/
.footer {
	background-color: #222222;
}

.footer .inner {
	padding: 30px;
}

.copyright {
	font-size: 10px;
	text-align: center;
	color: #8c8c8c;
}

.page-top {
	font-size: 12px;
	font-weight: bold;
	color: #ddd;
	display: block;
	padding: 10px;
	cursor: pointer;
	text-align: center;
	background-color: #60caad;
}

@include breakpoint(tablet) {
	/* フッター */
	.footer .inner {
		padding: 20px 0;
	}
}
@include breakpoint(sp) {
}
