/*--------------------------------
ヘッダー
---------------------------------*/
.header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 540px;
	background-image: url(../img/fv.jpg);
	background-size: cover;
}
/* scale-animation */
.js-scale {
	opacity: 0;
	transform: scale(1.1);
	transition: opacity 0.8s ease-out, transform 1.8s ease-out;
}
/* add active for scale-animation */
.js-scale.js-active {
	opacity: 1;
	transform: scale(1);
}

.logo-name {
	font-family: "Noto sans", cursive;
	/*Josefin Sans Amatic SC, */
	font-size: 32px;
	line-height: 1;
	display: block;
	margin-bottom: 5px;
	text-align: center;
	color: #9da5a0;
}

.logo {
	text-align: center;
	&-title {
		font-family: "Lora", serif;
		/* CormorantGaramond, */
		font-size: 88px;
		font-weight: normal;
		line-height: 1;
		display: block;
		letter-spacing: 0.1em;
		color: #60caad;
	}

	&-text {
		font-size: 14px;
		display: block;
		margin-top: 10px;
		text-align: center;
		letter-spacing: 0.2em;
	}
}

@include breakpoint(tablet) {
	/* ヘッダー */
	.header {
		height: 70vh;
	}

	.logo-name {
		font-size: 16px;
	}

	.logo-title {
		font-size: 40px;
	}

	.logo-text {
		font-size: 10px;
	}
}
@include breakpoint(sp) {
}
