/*--------------------------------
 レイアウト
---------------------------------*/
.section {
	padding: 120px 0;
}

.inner {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 40px;
}

.content {
	margin-top: 100px;
}

/*--------------------------------
 文字
---------------------------------*/
.heading-primary {
	font-family: "教科書体NK-B", serif;
	font-size: 36px;
	line-height: 1;
	display: inline-block;
	letter-spacing: 0.2em;
	text-transform: lowercase;
	color: #60caad;
}

.section-heading {
	margin-bottom: 10px;
	text-align: center;
}

.section-lead {
	margin-bottom: 40px;
	text-align: center;
}
.section-subttl {
	font-size: 20px;
	width: 270px;
	margin: 0 0 20px 0;
	border-bottom: solid 2px #fff;
}

@include breakpoint(tablet) {
	/* レイアウト */
	.section {
		padding: 60px 0;
	}

	.section .inner {
		padding: 0 15px;
	}

	.content {
		margin-top: 40px;
	}

	/* 文字 */
	.heading-primary {
		font-size: 32px;
	}
	.section-subttl {
		font-size: 16px;
	}
}
@include breakpoint(sp) {
}
