/* l-footer
--------------------------- */
@use "./../foundation/system" as s;

.l-footer {
	background: #000;
	padding: 30px;
	text-align: center;
	&__copy {
		font-size: 12px;
		color: #999;
	}

	@include s.breakpoint(tablet) {
	}
	@include s.breakpoint(pc) {
	}
}
