/* l-navigation
--------------------------- */
@use "./../foundation/system" as s;

.l-navigation {
	position: sticky;
	top: 0;
	background-color: s.$c-base;
	z-index: 1;
	&__lists {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	&__list {
		padding: 5px 32px;
		a {
			color: s.$c-body;
			@include s.garamond(bold);
		}
	}

	@include s.breakpoint(tablet) {
	}
	@include s.breakpoint(pc) {
	}
}
